<h1>Search for a city</h1>

<%= form_with(model: @weather_report, url: weather_reports_path, method: :post) do |form| %>
  <% if @weather_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_report.errors.count, "error") %> prohibited this search to be fulfilled</h2>

      <ul>
      <% @weather_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :iata_code, class: "sr-only" %>
    <%= form.text_field :iata_code, required: true, class: "relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6", placeholder: "Enter a iata code" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>